@use "variables" as v;

.select-capitulo {
    font-size: medium;
    background-color: v.$fuente;

    option {
        color: v.$fuente-color;
    }

    :checked {
        background-color: v.$fuente-color;
        color: white;
    }
}

.bloque-listado-capitulos {
    @include v.flex (flex, row, center, space-between);

    .listado-capitulos {
        @include v.flex (flex, column, flex-start, none);
    }

    .imagen-capitulos {
        @include v.flex(flex, row, flex-end, none);
        border-radius: 8px;
        height: v.$img-height;
        width: v.$img-width;
    }
}

main {
    @include v.mobile {
        margin: 0;
        padding: 0;

        .imagen-capitulos {
            height: 400px;
            width: 400px;
        }
    }
}

body {
    @include v.mobile {
        margin-left: 5vh;
        margin-right: 5vh;

        .bloque-listado-capitulos {
            @include v.flex(flex, column, center, center)
        }

    }
}