@use "variables" as v;

main {
    .capitulos-section-1 {
        margin-top: 5vb;
    }

    .indice {
        margin-top: 5vb;

        h2 {
            text-align: center;
        }

        h3 {
            margin-top: 5vb;
        }

        .select-capitulo {
            font-size: large;
            background-color: v.$fuente;


            option {
                color: v.$fuente-color;
            }

            :checked {
                background-color: v.$fuente-color;
                color: white;
            }
        }

        .bloque-listado-capitulos {
            @include v.flex (flex, row, center, space-between);
            flex-wrap: wrap;

            .listado-capitulos {
                @include v.flex (flex, column, flex-start, none);
            }

            .imagen-capitulos {
                @include v.flex(flex, row, flex-end, none);
                border-radius: 8px;

                @include v.tablet {
                height: 450px;
                width: 450px;
                margin: 2px;
            }

            }
        }
    }
}





main {
    @include v.mobile {
        margin: 0;
        padding: 0;


        .imagen-capitulos {
            height: auto;
            width: auto;
        }
    }
}

body {
    @include v.mobile {
        margin-left: 5vh;
        margin-right: 5vh;

        .bloque-listado-capitulos {
            @include v.flex(flex, row, center, center)
        }

    }
}