@use "variables" as v;

.main-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.h2-contacto {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.texto-contacto {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.h3-contacto {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

form {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    justify-items: stretch;
    justify-content: space-evenly;
    background-color: azure;
    border: 2px solid v.$fuente-color;
    padding: v.$padding;
}

.lateral-contacto {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    align-items: center;
    align-content: stretch;
    padding: 35px;
    background-color: rgba(128, 128, 128, 0.226);
    border: 2px solid v.$fuente-color;
    border-radius: 15px;
}

.cta-contacto {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

@include v.mobile {
    .main-contacto {
        display: grid;
        grid-template-areas:
            "h2-contacto h2-contacto"
            "texto-contacto texto-contacto"
            "h3-contacto h3-contacto"
            "form form"
            "lateral-contacto lateral-contacto"
            "cta-contacto ."
        ;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        row-gap: 10px;
    }

    form {
        grid-area: form;
    }

    .lateral-contacto {
        grid-area: lateral-contacto;
    }
}