@use "variables" as v;

footer {
    margin-top: 5%;
    height: auto;
    @include v.flex(flex, row, center, space-around);

    .footer-logo {
        width: 150px;
        height: 150px;
        @include v.text (left, none);
    }

    .footer-indice {
        @include v.flex(flex, column, center, space-around);
        gap: 10px;
        @include v.text(center, none);
    }

    .footer-social {
        @include v.text(right, none);
        gap: 10px;
        @include v.flex(flex, column, center, space-around);
    }
}
    @include v.mobile {
        footer {
            height: auto;
            width: 90vw;
            font-size: small;
            @include v.flex(flex, column, center, space-between)
        }

        .logo-header{
            width: 100px;
            height: 100px;
        }

        .footer-indice {
            list-style: none;
            gap: 10px;
            padding: v.$padding;
        }

        .footer-social {
            list-style: none;
            gap: 10px;
            padding: v.$padding;
        }
    }
