@use "variables" as v;

.home {
    @include v.flex(flex, column, center, space-around);

    .imagen-index {
        @include v.flex(flex, row, center, space-around)
    }

    .imagen-index-1 {
        width: 500px;
        height: v.$img-height;

        @include v.mobile {
            width: 100px;
            height: 100px;
        }
    }

    .imagen-index-2 {
        width: v.$img-width;
        height: v.$img-height;

        @include v.mobile {
            width: 100px;
            height: 100px;
        }
    }
}

.porque-leer-tao {
    @include v.flex(flex, row, center, space-around);
    @include v.mobile{
        @include v.flex(flex, column, center, center); 
    }

    .img-porque-leer-tao {
        width: v.$img-width;
        height: v.$img-height;

        @include v.mobile {
            display: flex;
            width: 100px;
            height: 100px;
        }
    }

    .texto-porque-leer-tao {
        padding: v.$padding;
        margin: 10vh;
        @include v.mobile{
            padding: 5px;
            margin: 5px;
            }
        }
    }

.space-1 {
    @include v.space(100px, max-content)
}

body{
    @include v.mobile{
    margin-left: 5vh;
    margin-right: 5vh;
    }
}