* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

body {
  margin-left: 20vh;
  margin-right: 20vh;
}

main .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 400px;
  border: 2px solid white;
  border-radius: 25px;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

header {
  background-color: white;
  border-bottom: solid 1px;
  position: sticky;
  box-sizing: border-box;
  top: 0;
}
@media (min-width: 320px) and (max-width: 430px) {
  header header {
    display: grid;
    grid-template-areas: "logo logo" "nav nav";
    justify-content: center;
    align-content: center;
  }
  header .logo-header {
    grid-area: logo;
  }
  header .nav-bar {
    grid-area: nav;
  }
  header header nav ul {
    list-style: none;
    gap: 5px;
    font-size: 28px;
    padding: 5px;
  }
}
header .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .container-fluid .logo-header {
  width: 100px;
  height: 100px;
}
header .container-fluid .navbar-nav {
  display: flex;
  list-style: none;
  gap: 0px;
  margin: 0px;
  padding: 5px;
}
header .container-fluid .navbar-nav .navbar-item {
  color: black;
}
header .container-fluid .navbar-nav :hover {
  scale: 1.2;
}
header .container-fluid .navbar-nav .nav-link {
  text-decoration: none;
  color: black;
}
header .container-fluid .navbar-nav :hover {
  color: blue;
}

footer {
  margin-top: 5%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .footer-logo {
  width: 150px;
  height: 150px;
  text-align: left;
  list-style: none;
}
footer .footer-indice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  list-style: none;
}
footer .footer-social {
  text-align: right;
  list-style: none;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 320px) and (max-width: 430px) {
  footer {
    height: auto;
    width: 90vw;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    width: 100px;
    height: 100px;
  }
  .footer-indice {
    list-style: none;
    gap: 10px;
    padding: 5px;
  }
  .footer-social {
    list-style: none;
    gap: 10px;
    padding: 5px;
  }
}
main .capitulos-section-1 {
  margin-top: 5vb;
}
main .indice {
  margin-top: 5vb;
}
main .indice h2 {
  text-align: center;
}
main .indice h3 {
  margin-top: 5vb;
}
main .indice .select-capitulo {
  font-size: large;
  background-color: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main .indice .select-capitulo option {
  color: black;
}
main .indice .select-capitulo :checked {
  background-color: black;
  color: white;
}
main .indice .bloque-listado-capitulos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .indice .bloque-listado-capitulos .listado-capitulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: none;
}
main .indice .bloque-listado-capitulos .imagen-capitulos {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: none;
  border-radius: 8px;
}
@media (min-width: 431px) and (max-width: 800px) {
  main .indice .bloque-listado-capitulos .imagen-capitulos {
    height: 450px;
    width: 450px;
    margin: 2px;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  main {
    margin: 0;
    padding: 0;
  }
  main .imagen-capitulos {
    height: auto;
    width: auto;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  body {
    margin-left: 5vh;
    margin-right: 5vh;
  }
  body .bloque-listado-capitulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

main h1 {
  margin-top: 5vb;
}
main .texto-comprar-top {
  margin-bottom: 5vb;
}
main .texto-comprar-botton {
  margin-top: 5vb;
}
main .libros {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
}

.main-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4);
  grid-auto-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
}

.h2-contacto {
  grid-template-rows: repeat(1fr);
  grid-column: 1/3;
  grid-row: 1/2;
}

.texto-contacto {
  grid-column: 1/3;
  grid-row: 2/3;
}

.h3-contacto {
  grid-column: 1/3;
  grid-row: 3/4;
}

form {
  grid-column: 1/2;
  grid-row: 4/5;
  justify-items: stretch;
  justify-content: space-evenly;
  background-color: #C0C781;
  border: 2px solid black;
  padding: 5px;
}
form label {
  font-style: italic;
  font-weight: bold;
}

.lateral-contacto {
  grid-column: 2/3;
  grid-row: 4/5;
  align-items: center;
  align-content: stretch;
  padding: 35px;
  background-color: rgba(128, 128, 128, 0.226);
  border: 2px solid black;
  border-radius: 15px;
}

.cta-contacto {
  text-align: center;
  margin-top: 5vb;
  font-size: 48px;
  font-style: italic;
  text-decoration: double;
}

@media (min-width: 320px) and (max-width: 430px) {
  .main-contacto {
    display: grid;
    grid-template-areas: "h2-contacto h2-contacto" "texto-contacto texto-contacto" "h3-contacto h3-contacto" "form form" "lateral-contacto lateral-contacto" "cta-contacto .";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 10px;
  }
  form {
    grid-area: form;
  }
  .lateral-contacto {
    grid-area: lateral-contacto;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .main-contacto {
    display: grid;
    grid-template-areas: "h2-contacto h2-contacto" "texto-contacto texto-contacto" "h3-contacto h3-contacto" "form form" "lateral-contacto lateral-contacto" "cta-contacto .";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 10px;
  }
  form {
    grid-area: form;
  }
  .lateral-contacto {
    grid-area: lateral-contacto;
  }
}
main h2 {
  text-align: center;
  margin-top: 5vb;
}
main h3 {
  margin-top: 5vb;
}
main .historia-historia {
  display: grid;
  grid-template-areas: "p img";
  margin: 10px;
}
@media (min-width: 320px) and (max-width: 430px) {
  main .historia-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  main .historia-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .texto-historia {
  grid-area: p;
  margin: 10px;
}
main .imagen-historia {
  grid-area: img;
  width: 400px;
  height: 400px;
}
main .filosofia-historia {
  display: grid;
  grid-template-areas: "img p";
  margin: 10px;
  padding: 15px;
}
@media (min-width: 320px) and (max-width: 430px) {
  main .filosofia-historia {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  main .filosofia-historia {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .texto-filosofia-historia {
  grid-area: p;
  margin: 10px;
}
main .imagen-filosofia-historia {
  grid-area: img;
  width: 400px;
  height: 400px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.home .el-tao-vida-moderna {
  margin-top: 5vb;
}
.home .imagen-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home .imagen-index-1 {
  width: 500px;
  height: 400px;
  margin: auto;
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .imagen-index-1 {
    width: 150px;
    height: 150px;
  }
}
.home .imagen-index-2 {
  width: 400px;
  height: 400px;
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .imagen-index-2 {
    width: 150px;
    height: 150px;
  }
}
.home .que-es-el-tao {
  margin-top: 5vb;
}
.home .porque-leer-tao {
  margin-top: 5vb;
}
.home .porque-leer-tao .bloque-porque-leer-tao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .porque-leer-tao .bloque-porque-leer-tao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .home .porque-leer-tao .bloque-porque-leer-tao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home .porque-leer-tao .bloque-porque-leer-tao .img-porque-leer-tao {
  width: 400px;
  height: 400px;
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .porque-leer-tao .bloque-porque-leer-tao .img-porque-leer-tao {
    display: flex;
    width: 150px;
    height: 150px;
  }
}
.home .porque-leer-tao .bloque-porque-leer-tao .texto-porque-leer-tao {
  padding: 5px;
  margin: 10vh;
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .porque-leer-tao .bloque-porque-leer-tao .texto-porque-leer-tao {
    padding: 5px;
    margin: 5px;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .home .porque-leer-tao .bloque-porque-leer-tao .texto-porque-leer-tao {
    padding: auto;
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  body {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
